body {
    font-family: Arial, sans-serif;
    background-color: #f5f6fa;
    margin: 0;
    padding: 0;
}

/* Page container */
.container {
    width: 80%;
    margin: 30px auto;
}

/* Header */
h1 {
    color: #2f3640;
}

.seperate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit{
    background-color: #273c75;
    color: white;
    padding: 3px;
    border: none;
}

.home-link {
    background-color: #273c75;
    color: white;
    padding: 10px

}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-top: 20px;
}



table th {
    background-color: #273c75;
    color: white;
    padding: 10px;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table tr:hover {
    background-color: #f1f2f6;
}

/* Links */
a {
    text-decoration: none;
    color: #2980b9;
}

a:hover {
    text-decoration: underline;
}

/* Button */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 12px;
    background-color: #273c75;
    color: white;
    border-radius: 5px;
}

/* Card (detail page) */
.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

/* Error message */
.error {
    color: red;
    font-weight: bold;
}