<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    {#    Using the same naming conventions as locations, so the same stylesheet aswell.#}
    <link rel="stylesheet" href="{{ url_for('location.static', filename='locations.css') }}">
</head>
<body>
    <main class="page">
    <section class="card">
    <div class="header">
        <div>
            <p class="eyebrow">Car Rental System</p>
            <h1>Logout</h1>
            <p class="subtitle">Confirm logout.</p>
        </div>

        <a class="home-link" href="/">Back to Home</a>
    </div>

    <p style="margin-top: 10px;">
        Are you sure you want to log out?
    </p>

    <form method="post" class="form-actions">

        <button type="submit" class="btn-danger">
            Logout
        </button>

        <a href="{{ url_for('user.index') }}" class="btn-secondary">
            Cancel
        </a>

    </form>

</section>
</main>

</body>
</html>