<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
</head>
<body>
    <h2>Logout</h2>
    <div class="auth-outer" style="width: 490px">
        <div class="auth-inner">
            <form method="post" style="width: 100%;">
                <h4>Are you sure you want to log out?</h4>
                <div class="auth-row">
                    <button type="submit">Logout</button>&nbsp;
                    <button><a href="{{ url_for('user.index') }}">Cancel</a></button>
                </div>
            </form>

        </div>
    </div>
</body>
</html>