<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Details</title>
    <link rel="stylesheet" href="{{ url_for('staff.static', filename='staff.css') }}">
</head>

<body>

<div id="main-header">Staff Details</div>
<hr>

    {% if staff %}
    <div class="media-detail-container">

            <div class="media-labels">
                <p>ID:</p>
                <p>First Name:</p>
                <p>Last Name:</p>
                <p>Username:</p>
                <p>Email:</p>
                <p>Role:</p>
                <p>Phone:</p>
                <p>Address:</p>
                <p>Total Rentals:</p>
            </div>

            <div class="media-values">
                <p>{{ staff.staff_id }}</p>
                <p>{{ staff.first_name }}</p>
                <p>{{ staff.last_name }}</p>
                <p>{{ staff.username }}</p>
                <p>{{ staff.email }}</p>
                <p>{{ staff.role }}</p>
                <p>{{ staff.phone }}</p>
                <p>{{ staff.address }}</p>
                <p>{{ staff.rentals|length }}</p>
            </div>

</div>

<hr>

<div style="float: right">
    <a href="{{ url_for('staff.rentals', staff_id=staff.staff_id) }}">View Rentals</a> |
    <a href="{{ url_for('staff.index') }}">Back to Staff List</a>
</div>

{% else %}
    <p>Staff member not found.</p>
{% endif %}

</body>
</html>
