<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff List</title>
    <link rel="stylesheet" href="{{ url_for('staff.static', filename='staff.css') }}">
</head>

<body>

<div id="main-header">Staff Directory</div>
<hr>
<div class="container">
<div class="seperate">
   <form method="GET" action="{{ url_for('staff.search') }}">
        <input type="text" name="q" placeholder="Search staff" value="{{ query or '' }}">
        <button type="submit" class="submit">Search</button>
    </form>
    <a class="home-link" href="/">Back to Home</a>
</div>

{% if staff_members %}
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Role</th>
        <th>Details</th>
        <th>Rentals</th>
    </tr>

    {% for staff in staff_members %}
    <tr>
        <td>{{ staff.staff_id }}</td>
        <td>{{ staff.first_name }} {{ staff.last_name }}</td>
        <td>{{ staff.username }}</td>
        <td>{{ staff.role }}</td>
        <td>
            <a href="{{ url_for('staff.detail', staff_id=staff.staff_id) }}">View</a>
        </td>
        <td>
            <a href="{{ url_for('staff.rentals', staff_id=staff.staff_id) }}">View Rentals</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No staff members found.</p>
{% endif %}

</div>

</body>
</html>