<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <main class="page">
        <section class="card">
            <h1>Car Rental System</h1>
            <p class="subtitle">Welcome to the Car Rental System, please choose one of the options below</p>

            <div class="nav-links">
                <a href="auth/register">Register</a>
                <a href="auth/login">Login</a>
                <a href="/customers">View Customers</a>
                <a href="/locations">View Locations</a>
                <a href="/rental">View Rentals</a>
                <a href="{{ url_for('staff.index') }}">View Staff</a>

            </div>
        </section>
    </main>
</body>
</html>
